---
import BasicLayout from "../layouts/BasicLayout.astro";
import GitLogo from "../assets/logo-github.svg";
import LinkedInLogo from "../assets/logo-linkedin.svg";
---

<BasicLayout title="Home">
  <div
    class="home text-secondary m-1 flex flex-col gap-4 border-1 border-gray-700 p-2 lg:w-5"
  >
    <section class="home__start decoration-grey-500 flex flex-col gap-4 p-1">
      <h1 class="decoration-tertiary text-2xl font-bold underline decoration-4">
        Hi, I'm Paulina 👋
      </h1>
      <p class="text-gray-500">
        Astro is a modern static site generator optimized websites with ease. It
        leverages the power of JavaScript frameworks like React, Vue, and
        Svelte, while keeping the final output minimal and efficient. Whether
        you're building a blog, portfolio, or e-commerce site, Astro provides
        the flexibility.
      </p>
      <p class="text-gray-500">
        Discover the power of Astro, a modern static site generator that
        combines the best of JavaScript frameworks with minimal, optimized
        output for exceptional performance and flexibility.
      </p>
      <ul class="home__start--icon flex gap-4">
        <li class="icon rounded border-1 border-gray-700 p-2">
          <GitLogo size={30} mode="sprite" />
        </li>
        <li class="icon rounded border-1 border-gray-700 p-2">
          <LinkedInLogo size={30} mode="sprite" />
        </li>
        <li class="icon rounded border-1 border-gray-700 p-2">
          <GitLogo size={30} class="text-tertiary" />
        </li>
      </ul>
    </section>
    <hr class="my-4 border-t border-gray-700" />
    <section class="home__article decoration-grey-500 flex flex-col gap-2 p-1">
      <h1 class="mt-2 text-2xl font-bold">Latest Articles</h1>

      <ul class="article__container flex flex-col gap-4">
        <li class="article">
          <h2 class="article__title">
            Balancing Hobbies and Coding : How Hiking and Rock Climbing Help Me
            Stay Motivated
          </h2>
          <p class="article__date text-gray-500">February 18, 2025</p>
        </li>
        <li class="article">
          <h2 class="article__title">
            Reading for Inspiration : 5 Books That Shaped My Coding Journey
          </h2>
          <p class="article__date text-gray-500">February 15, 2025</p>
        </li>
        <li class="article">
          <h2 class="article__title">
            Overcomming Imposter Syndrome as a New Developer
          </h2>
          <p class="article__date text-gray-500">February 10, 2025</p>
        </li>
        <li class="article">
          <h2 class="article__title">
            Exploring the World of Responsive Design
          </h2>
          <p class="article__date text-gray-500">February 4, 2025</p>
        </li>
        <li class="article">
          <h2 class="article__title">My Favorite Dev Tools for Productivity</h2>
          <p class="article__date text-gray-500">January 29,2025</p>
        </li>
      </ul>
      <a href="" class="decoration-tertiary font-bold underline decoration-2"
        >View all articles</a
      >
    </section>
    <hr class="my-4 border-t border-gray-700" />
    <section class="footer flex items-center justify-between gap-4">
      <p>Made with ❤️ and 🍵</p>

      <ul class="home__start--icon flex gap-4">
        <li class="icon">
          <GitLogo size={30} mode="sprite" />
        </li>
        <li class="icon">
          <LinkedInLogo size={30} mode="sprite" />
        </li>
        <li class="icon">
          <GitLogo size={30} mode="sprite" />
        </li>
      </ul>
    </section>
  </div>
</BasicLayout>
