---
import "../styles/global.css";
---

<nav class="flex items-center justify-between gap-4 p-4">
  <img src="../assets/image-avatar.jpg" alt="" />

  <ul class="flex gap-4">
    <li><a href="/">Home</a></li>
    <li>
      <a href="/about">About</a>
    </li>
  </ul>
</nav>
